# Linux
.hidden
.directory
# macOS
.DS_Store
# Byte-compiled / optimized / DLL files
*.pyo
*.pyc
__pycache__/
# Python
.python-version
.mypy_cache/
.ropeproject
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache
# Javascript
node_modules
# IDEs
*.sublime-project
*.sublime-workspace
.sublime-backup/
.idea/
.vscode/
# Build files
build
src/*/gui/forms
src/*/gui/resources
# Anki
src/*/meta.json
src/*/manifest.json
